// Staging environment.
#include "Base.xcconfig"
#include? "Secrets.xcconfig"

SUPABASE_URL = https:$()/$()/ukdfuqdwhkjcassyaxmw.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZGZ1cWR3aGtqY2Fzc3lheG13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwNTkxNDksImV4cCI6MjEwNjYzNTE0OX0.AMGmY9CSexwPW9ynhpOrXMuuukFj_9OFa4vvLbQmY-s
